/* font-family: 'Aboreto', cursive;
font-family: 'Beau Rivage', cursive;
font-family: 'Bodoni Moda', serif;
font-family: 'Carattere', cursive;
font-family: 'Caveat', cursive;
font-family: 'Yuji Boku', serif; */

.heading {
    font-family: 'Aboreto', cursive;
    /* font-family: 'Beau Rivage', cursive; */
    /* font-family: 'Bodoni Moda', serif; */
    /* font-family: 'Carattere', cursive; */
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Yuji Boku', serif; */
}

.text {
        /* font-family: 'Aboreto', cursive; */
        /* font-family: 'Beau Rivage', cursive; */
        /* font-family: 'Bodoni Moda', serif; */
        /* font-family: 'Carattere', cursive; */
        /* font-family: 'Caveat', cursive; */
        /* font-family: 'Yuji Boku', serif; */
        font-family:'Courier New', Courier, monospace
}


body{
background-image: linear-gradient(black, green);
background-image: url('./Components/images/bridge.jpg');
background-size: 2000px;
background-repeat: no-repeat;
min-height: 1000px;
background-attachment: fixed;
}

* {
    margin: 0px;
}


#play-button {
    position: absolute;
    background-image: url(./theme/deathly-hallows.png);
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-size: 80px;
    height: 80px;
    width: 80px;
    border: 0;
    top: 5px;
    left: 5px;
    opacity: 0;
    transition: 3s;
}

#play-button:hover {
    opacity: 0.8;
}
