/* font-family: 'Aboreto', cursive;
font-family: 'Beau Rivage', cursive;
font-family: 'Bodoni Moda', serif;
font-family: 'Carattere', cursive;
font-family: 'Caveat', cursive;
font-family: 'Yuji Boku', serif; */

.heading {
    font-family: 'Aboreto', cursive;
    /* font-family: 'Beau Rivage', cursive; */
    /* font-family: 'Bodoni Moda', serif; */
    /* font-family: 'Carattere', cursive; */
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Yuji Boku', serif; */
}

.text {
        /* font-family: 'Aboreto', cursive; */
        /* font-family: 'Beau Rivage', cursive; */
        /* font-family: 'Bodoni Moda', serif; */
        /* font-family: 'Carattere', cursive; */
        /* font-family: 'Caveat', cursive; */
        /* font-family: 'Yuji Boku', serif; */
        font-family:'Courier New', Courier, monospace
}


body{
background-image: linear-gradient(black, green);
background-image: url('./Components/images/bridge.jpg');
background-size: 2000px;
background-repeat: no-repeat;
min-height: 1000px;
background-attachment: fixed;
}

* {
    margin: 0px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.grid-item {
    height: 60px;
    width: 60px;
    background-color: rgb(153, 254, 176);
    opacity: 0;
    transition: opacity 2s ease 0.4s, transform 0.8s ease;
    transform: scale(1);
}

.grid-item:hover {
    opacity: 0.5;
    transition: opacity 0.2s ease;
    transform: scale(1.5);
}