.home-page-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 230px;
    left: 200px;
    right: 200px;
}

.main-heading {
    font-size: max(13vw, 70px);
}

.home-page-content, .text{
    font-size: max(22px, 14px);
    color: rgba(255,255,255,0.8);
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;


}


.animate-heading
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -220deg,
    rgba(0,0,0,0.8) 0%,
    rgb(217, 255, 156) 29%,
    rgba(0,0,0,1) 67%,
    rgba(0,0,0,0.8) 100%
  );
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  animation: textclip 6s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}