.top-right {
    z-index: -1;
    height: 50%;
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0.8;
}

#house-item {
    border:rgba(0,0,0,0.3) solid;
    padding: 10px;
    margin: 0.7rem;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:0px 0px 8px rgb(217, 255, 156);
    text-align: justify;
}

.select-padding {
    padding: 40px;
    padding-bottom: 20px;
}

select {
    z-index: 1;
}

#text-box-house {
    width: 50vw;

}