.top-right {
    z-index: -1;
    position: absolute;
    top: 23%;
    right: 7%;
    width: 30vw;
    min-width: 100px;
}

#house-item {
    border:rgba(0,0,0,0.3) solid;
    padding: 10px;
    margin: 0.7rem;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:0px 0px 8px rgb(217, 255, 156);
    text-align: justify;
}

.select-padding {
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

select {
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    color: white;
    border: solid rgba(255,255,255,0.4) 1px;
}

#text-box-house {
    width: 45vw;
    font-size: 25px;
    letter-spacing: 5px;
}