.navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    /* display: grid;
    grid-template-columns: 25% 25% 25% 25%; */
    /* justify-content: center;
    align-items: center; */
    font-size: 30px;
    list-style: none;
    height: 80px;
    background-color: rgba(0,0,0,0.3);
}

.navbar>li{
    transition: 600ms;
}
.navbar>li:hover{
    transform:scale(120%);
}

.link {
    color: rgba(255, 255, 255, 0.6);
    transition:600ms;
}

.link:hover {
    color:rgb(217, 255, 156);
}