#spells-container {
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    list-style: none;
    margin: 2rem;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0.2);
    color:white;

}

#spell-item {

    border:rgba(0,0,0,0.3) solid;
    padding: 10px;
    margin: 0.7rem;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:0px 0px 8px rgb(217, 255, 156);
    transition: 400ms;
    text-align: center;
}

#spell-item:hover {
    transform: scale(115%);
    background-color: rgba(0,0,0,0.4);
    box-shadow:0px 0px 25px rgb(217, 255, 156);

}

.spell-heading {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding: 10px;
    color: rgba(255,255,255,0.8);
}

.flex-center-top {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.search{
    background-color: rgba(0,0,0,0.6);
    border-color: rgba(255,255,255,0.5);
    color: white;
    height: 2rem;
    width: 15rem;
    text-align: center;
}

.flex-search {
    display: flex;
    justify-content: center;
}